<div class="row">
       
    <div class="col-lg-4 text-center bg-success">
            <img width="400px" height="300px" src="assets/product1.jpg" alt="">
        </div>


    <div class="col-lg-8  bg-gray">
       <h1>
           Product Name
       </h1>
       <hr>
       <h3>
           Product Category
       </h3>
       <hr>
       <span>
           200 Rs.
       </span>
       <hr>
       <p>
           Description
       </p>
       <h4>
           Select Qty:
       </h4>
       <span>
           <select name="" id="">
               <option value="">1</option>
               <option value="">2</option>
               <option value="">3</option>
               <option value="">4</option>
               <option value="">5</option>
           </select>
       </span>
       <hr>
       <button class="btn btn-warning text-light"> 
            Add to Cart  
       </button>
    </div>
</div>